.content {
  background:white;
  height: auto;
  min-height: 500px;
  margin:-14% auto;
}

#content {
  padding:10px;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.title-box {
  padding:15px;
  border-bottom: solid 1px darkgray;
}

.reg-button-box
{
  text-align:right;
  padding-right:5px;
}


.navbar-nav .nav-link.active {
  font-weight: bold;
}



/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
  .content {
    margin:-13% 10%;
  }

  #content .title,
  .title-box .title {
    font-size:1em;
  }

  .btn-title {
    font-size:0.8em;
  }

  .reg-button-box  {
    text-align:left;
  }

  .title-box {
    padding:5px;
    border-bottom: solid 1px darkgray;
  }  

  #content .details,
  .navbar {
    font-size:0.8em;
  }

  .navbar-toggler-icon
  {
    height: 1em;
    width:1em;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {  
  .content {
    margin:-110px 5%;
  }

.title-box .title {
    font-size:1em;
    padding-top:5px;
  }

  .btn-title {
    font-size:0.8em;
  }

  .reg-button-box  {
    text-align:left;
  }

  .title-box {
    padding:5px;
    border-bottom: solid 1px darkgray;
  }  

  .navbar {
    font-size:0.8em;
  }

  .navbar-toggler-icon
  {
    height: 1em;
    width:1em;
  }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 

}

/* Large devices (desktops, 992px and up)  */
@media (min-width: 992px) and (max-width: 1199px) { 

}

